<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>

  {{ hugo.Generator }}

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  {{ "<!-- ** Plugins Needed for the Project ** -->" | safeHTML }}
  {{ "<!-- Bootstrap -->" | safeHTML }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/bootstrap/bootstrap.min.css">
  {{ "<!-- themefy-icon -->" | safeHTML }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/themify-icons/themify-icons.css">
  {{ "<!-- highlight -->" | safeHTML }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/highlight/hybrid.css">
  {{ "<!-- fonts -->" | safeHTML }}
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <style>
  :root{
    --primary-color:{{ .Site.Params.primaryColor }};
    --secondary-color:{{ .Site.Params.secondaryColor }};
    --text-color:{{ .Site.Params.textColor }};
    --text-color-dark:{{ .Site.Params.textColorDark }};
    --white-color:{{ .Site.Params.whiteColor }};
  }
  
  .blog-tip{
    display: none;
  }
  
  @media (min-width:992px){
    .blog-tip{
      display: block;
    }
  }
  </style>

{{ "<!-- Main Stylesheet -->" | safeHTML }}
{{ $styles := resources.Get "css/style.css" | minify}}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

{{ "<!-- jquiry -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}plugins/jquery/jquery-1.12.4.js"></script>

{{ "<!-- jquary ui -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}plugins/jquery/jquery-ui.js"></script>

{{ "<!--Favicon-->" | safeHTML }}
<link rel="icon" href="{{ .Site.BaseURL }}images/favicon.png" type="image/x-icon">
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '678814912639971');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=678814912639971&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Google Analytics Code -->
<script>
  (function(a,b,c){var d=a.history,e=document,f=navigator||{},g=localStorage,
  h=encodeURIComponent,i=d.pushState,k=function(){return Math.random().toString(36)},
  l=function(){return g.cid||(g.cid=k()),g.cid},m=function(r){var s=[];for(var t in r)
  r.hasOwnProperty(t)&&void 0!==r[t]&&s.push(h(t)+"="+h(r[t]));return s.join("&")},
  n=function(r,s,t,u,v,w,x){var z="https://www.google-analytics.com/collect",
  A=m({v:"1",ds:"web",aip:c.anonymizeIp?1:void 0,tid:b,cid:l(),t:r||"pageview",
  sd:c.colorDepth&&screen.colorDepth?screen.colorDepth+"-bits":void 0,dr:e.referrer||
  void 0,dt:e.title,dl:e.location.origin+e.location.pathname+e.location.search,ul:c.language?
  (f.language||"").toLowerCase():void 0,de:c.characterSet?e.characterSet:void 0,
  sr:c.screenSize?(a.screen||{}).width+"x"+(a.screen||{}).height:void 0,vp:c.screenSize&&
  a.visualViewport?(a.visualViewport||{}).width+"x"+(a.visualViewport||{}).height:void 0,
  ec:s||void 0,ea:t||void 0,el:u||void 0,ev:v||void 0,exd:w||void 0,exf:"undefined"!=typeof x&&
  !1==!!x?0:void 0});if(f.sendBeacon)f.sendBeacon(z,A);else{var y=new XMLHttpRequest;
  y.open("POST",z,!0),y.send(A)}};d.pushState=function(r){return"function"==typeof d.onpushstate&&
  d.onpushstate({state:r}),setTimeout(n,c.delay||10),i.apply(d,arguments)},n(),
  a.ma={trackEvent:function o(r,s,t,u){return n("event",r,s,t,u)},
  trackException:function q(r,s){return n("exception",null,null,null,null,r,s)}}})
  (window,"UA-1697101-34",{anonymizeIp:true,colorDepth:true,characterSet:true,screenSize:true,language:true});
</script>
<!-- End Google Analytics Code -->
</head>