{{ define "main" }}

<div class="typeform-widget" data-url="https://liverx.typeform.com/to/MXiOgt" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=MXiOgt&utm_source=typeform.com-50226-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

<center><a href="https://line.me/R/ti/p/@rid4480s" target="_blank" rel="noopener"><img class="size-full" src="https://i.imgur.com/epiisSh.png" alt="加入好友" width="232" height="72" border="0">
</center>

{{ end }}